/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
html,
body {
    height: 100%;
    /* Asegura que el body y html ocupen todo el alto del viewport */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

/* Encabezado */
header {
    background-color: #666;
    color: #fff;
    text-align: left;
    padding: 1rem;
    font-size: 1.5rem;
    /* Equivalente al tamaño h1 */
    width: 100%;
}

/* Menú de navegación */
nav {
    background-color: #252424;
    padding: 1rem;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/* Contenedor principal */
.container {
    display: flex;
    flex: 1;
    /* Ocupa todo el espacio disponible en el contenedor padre */
    width: 100%;
    gap: 20px;
    padding: 1rem;
    background-color: #ccc;
    border-radius: 5px;
    overflow: auto;
    /* En caso de que haya contenido largo */
}

/* Contenido principal */
.main-content {
    flex: 3;
    /* Más espacio para el contenido principal */
    background-color: #d0d0d0;
    padding: 1rem;
    border-radius: 5px;
    color: #333;
}

/* Barra lateral */
.sidebar {
    flex: 1;
    /* Menos espacio para la barra lateral */
    background-color: #f5f1f1;
    padding: 1rem;
    border-radius: 5px;
    color: #333;
}

/* Pie de página */
footer {
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 3rem 1rem;
    width: 100%;
    margin-top: auto;
    /* Empuja el footer al final del viewport */
}