/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333333;
}

/* Header styling */
header {
    background-color: #040535;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.profile-photo {
    width: 100%;          
    max-width: 200px;     
    height: auto;         
    border-radius: 8px;   
    object-fit: cover;    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

/* General Card Styles */
.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Main container styling */
main {
    max-width: 1200px;
    margin: 2rem auto;
}

/* About Me Card Styling */
.about-me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-me div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.resources {
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Image Styling */
.about-me img,
.resources img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #040535;
    color: #fff;
}
