/*Styles for large screen */

#menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#menu li {
    margin: 0;
}

#menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

#menu li a:hover {
    background-color: #005599;
    border-radius: 5px;
}

#temple-gallery {
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}


.temple-card {
    max-width: 300px;
    margin: auto;
}

footer p {
    font-size: 1rem;
}
