/* Styles for large screen*/

/* Encabezado y navegación */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    color: white;
    padding: 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
}

#menu {
    display: flex; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    margin-left: 20px; 
}

#menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: background 0.3s;
}

#menu li a:hover {
    background-color: #002244; 
}

#hamburger {
    display: none; 
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

figure img {
    width: 100%; 
    height: auto; 
    display: block;
    object-fit: cover; 
}

main h2 {
    font-size: 36px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}


footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
}
